.App {
  text-align: center;
  background: url('/laptop-in-empty-room_4460x4460.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity:0.8;
  /*background-color:#ccc;*/
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control{
  width:60vw;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/*.form-inline {*/
  /*width: 100%;*/
/*}*/

/*.form-group {*/
  /*width: 90%;*/
/*}*/

/*.input-group {*/
  /*width: 90% !important;*/
/*}*/

/*.form-control {*/
  /*width: 50% !important;*/
/*}*/

/*span.input-group-addon {*/
  /*width: 500px !important;*/
/*}*/